*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}
 body{
    height: 100%;
    width: 100%;
    background-color: black;
 }
 header{
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 100;
 }



.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo h1{
    color: white;
}
.logo img{
    width: 60px;
    padding: 10px;
    border-radius: 50px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
nav a{
    text-decoration: none;
    color: rgb(238, 185, 51);
}


.top-section{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden; 
    margin-top: 20px;
    

}
.top-section video{
    width: 90%;
    height: 99vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 70px;
    border: none;
    border-radius: 2px;
    
}


.hero-section{
    position: relative;
    top: 10%;
    transform: translateY(-40%);
    text-align: center;

}
.over-lay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    
}
.hero-section h1{
    padding-top: 400px;
    font-weight: 900;
    font-size: 40px;

}
.hero-section h3{
 padding-top: 10px;
    font-weight: 900;
    font-size: 40px;
}
.hero-section p{
     padding-top: 7px;
     font-weight: bolder;
     font-size: 20px;
}
button{
    padding: 10px 10px;
    border-radius: 2px;
    border: none;
    margin-top: 20px;
    color:rgb(238, 185, 51);
}
.bottom-section{
    display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 20px;
     /* background-color: #000; */
     padding: 70px;
     
     
     
}
.product video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.product h1{
    position: relative;
    bottom:  55%;
    left: 90px;
}

 .product p{
     position: absolute;
     top: 1100px;
     left: 190px;
     font-weight: 900;
     font-size: large;
     

 }   


.color{
    font-weight: 900;
    font-size: 30px;
    color: white;
}
.product button{
   position: absolute;
   top: 1100px;
   margin-left: 300px;
   border-radius: none;
}
nav :hover{
    color: palevioletred;
}